{{- $defaultConfig := .Site.Data.config.default.widgets.derniere_partie -}}
{{- $configData := ( or .Site.Data.config.widgets.derniere_partie $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts sep-after'>
  <header>
    <h4 class='title widget-title'>
      {{- $config.title | default ( i18n "dernierePartie" ) -}}
    </h4>
  </header>

  <ul class='list'>
  {{ range ( first $length ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
    {{ .Render "li_pa" }}
  {{ end }}
  </ul>
</section>
